.login-box{
    background: #fff;
    border-radius: 6px;
    padding: 0 30px;
    border: 1px solid #DDDBDA;
    width: 430px;
    margin: 180px auto;
}
.login-box h4{
    text-transform: uppercase;
    margin: 25px 0;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}
.login-box .form-control{
    height: 40px;
    border-radius: 50px;
    padding: 0 40px 0 20px;
    box-shadow: inset 0 0 6px 20px #fff;
    -moz-box-shadow: inset 0 0 6px 20px #fff;
    -webkit-box-shadow: inset 0 0 6px 20px #fff;
}
.login-box .form-group {
    position: relative;
}
.login-box .email::after{
    content: "\f2c0";
    font-family: fontawesome;
    position: absolute;
    right: 16px;
    font-size: 18px;
    color: #cccccc;
    bottom: 8px;
}

.login-box .password::after{
    content: "\f13e";
    font-family: fontawesome;
    position: absolute;
    right: 16px;
    font-size: 18px;
    color: #cccccc;
    bottom: 5px;
}
.login-box .remove-btn{
    display: none;
}
.login-box .login-btn{
    background: #0095ff;
    border: none;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
    outline: none!important;
    border-radius: 50px;
    color: #fff!important;
    padding: 12px 50px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
}
.login-box .login-btn:hover{
    background: #0d49ba;
    transition: 0.3s;
}