<div class="content">  <form class="form" [formGroup]="createForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

  <h4>Login</h4>
    <div class="form-group">
      <label>User Id</label>
      <input type="text" formControlName="UserId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserId.errors }" />
      <div *ngIf="submitted && f.UserId.errors" class="invalid-feedback">
        <div *ngIf="f.UserId.errors.required">User Id is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="text" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
      <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
        <div *ngIf="f.Password.errors.required">Password is required</div>
      </div>
    </div>
   <div class="form-group">
      <button class="btn">Add</button>
    </div>
    <input type="button" (click)="Remove()"  name="Remove" id="Remove">
  </form>
</div>