<div *ngIf="updateForm">
    <div class="content">
        <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">

            <h4>Edit User Details</h4>

            <div class="form-group">
                <label>User Id</label>
                <input type="text" disabled="disabled" formControlName="UserId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserId.errors }" />
                <div *ngIf="submitted && f.UserId.errors" class="invalid-feedback">
                    <div *ngIf="f.UserId.errors.required">User Id is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="Fname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Fname.errors }" />
                <div *ngIf="submitted && f.Fname.errors" class="invalid-feedback">
                    <div *ngIf="f.Fname.errors.required">First Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" formControlName="Lname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Lname.errors }" />
                <div *ngIf="submitted && f.Lname.errors" class="invalid-feedback">
                    <div *ngIf="f.Lname.errors.required">Last Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Role</label>
                <select formControlName="RoleId" [ngClass]="{ 'is-invalid': submitted && f.RoleId.errors }">
                    <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                </select>
                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.RoleId.errors.required">Role required</div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn">Update</button>
            </div>
        </form>
    </div>
</div>