.header {
  height: 70px;
  background: rgb(44, 71, 80);
  display: flex;
  flex-flow: row;
}

.header>a {
    align-self: center;
    margin-left: 10px;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    font-family: 'Overlock';
    font-size: 16px;
}
.header>a :hover{
    cursor: pointer;
    background: darkblue;
}

