<div class="header">
        <a *ngIf="Ent.RoleId != 5 && Ent.RoleId != 4 " [routerLink]="[ '/dashboard']">Dashboard</a>
        <a *ngIf="Ent.RoleId == 1" [routerLink]="[ '/home']">Users</a>
        <a *ngIf="Ent.RoleId == 1" [routerLink]="[ '/servicedesk']">Service Desk</a>
        <a *ngIf="Ent.RoleId == 1" [routerLink]="[ 'user/create']">Add User</a>
        <a [routerLink]="[ '/ticket']">Ticket</a>
        <a *ngIf="Ent.ServiceDeskId.length >= 1" [routerLink]="[ '/listing']">Listing</a>
        <a (click)="Mylisting()" >My Issues</a>
</div>