
<div>

  <div>

    <label for="">Service Desk:</label>   <input type="text" [(ngModel)]='serviceDeskInput' >
    <label for="">    Ticket:</label>  <input type="text" [(ngModel)]='ticketInput' >
    <label for="">    Employee:</label>  <input type="text" [(ngModel)]='employeeInput' >

    <label for="">    Status:</label>  <input type="text" [(ngModel)]='statusInput' >
    <label for="">    Ticket Date:</label>  <input type="text" [(ngModel)]='ticketDateInput' >
    <label for="">    Resolved Date:</label>  <input type="text" [(ngModel)]='resolvedDateInput' >
    <label for="">    Assigner:</label>  <input type="text" [(ngModel)]='assignerInput' >

  </div>

  <button (click)='filterTickets()'>Search Ticket</button>

  <button (click)='resetFilters()'>Reset</button>

<table>
  <th>
    <tr>
        <td>#</td>

      <td>Service Desk</td>
      <td>Issue Title</td>
      <td>Notify To</td>
      <td>Assigner</td>
      <td>Status</td>

      <td>Ticket Date</td>
      <td>Resolve Date</td>
      <td>Resolve Duration</td>
      <td>Action</td>

    </tr>
    <tr *ngFor="let ticket of tickets ; let i = index">
        <td>{{ i }}</td>
        <td>{{ ticket.ServiceDeskId  }}</td>
        <td>{{ ticket.IssueTitle }}</td>
        <td>{{ ticket.NotifyTo }}</td>

        <td>{{ ticket.CreatedBy }}</td>
        <td>{{ ticket.Status  }}</td>

        <td>{{ ticket.CreatedDate }}</td>
        <td>{{ ticket.ResolveDate }}</td>
        <td>{{ ticket.Duration }}</td>


        <td><button type="button" (click)='editTicket(i)'>Edit</button> <button type="button" (click)='deactivateRole(i)'>Assign</button></td>
  
      </tr>
  </th>

 
</table>

</div>