<div>
  <div>
    <div style="padding: 5px;">
    <label for="">Service Desk:</label>  
     <select [(ngModel)]='serviceDeskInput'>
      <option *ngFor="let desk of serviceDesks " [value]='desk.id'>{{desk.name}}</option>
      </select>
     <label for="">Ticket:</label>  <input type="text" [(ngModel)]='ticketInput' ><br>
    <label>Assignee</label>
    <select [(ngModel)]='AssigneeInput'>
      <option *ngFor="let d of userAssignee " [value]='d.id'>{{d.name}}</option>
      </select>
    <!-- <ng-multiselect-dropdown [data]="userAssignee" [(ngModel)]='AssigneeInput'  [placeholder]="'Select users'"  
      [settings]="dropdownSettings" (onSelect)="onItemSelect($event,1)" (onSelectAll)="onSelectAll($event,1)">
    </ng-multiselect-dropdown> -->
  </div>
  <div style="padding: 20px;">
    <label for="">Ticket Date:</label> From <input type="date" [(ngModel)]='ticketDateFromInput' >To <input type="date" [(ngModel)]='ticketDateToInput' >
  </div>
  <div style="padding: 20px;"> 
  <label for="">Resolved Date:</label>From  <input type="date" [(ngModel)]='resolvedDateFromInput' >To <input type="date" [(ngModel)]='resolvedDateToInput' >
</div>
<div style="padding: 20px;">
    <label for="">Status:</label> 
    <select [(ngModel)]='statusInput'>
      <option *ngFor="let da of status" [value]='da.id'>{{da.name}}</option>
      </select>
    <label for="">Priority:</label> 
    <select [(ngModel)]='priorityInput'>
      <option *ngFor="let priority of prioritys" [value]='priority.id'>{{priority.name}}</option>
      </select>
      <label for="">Reporter:</label>  
      <select [(ngModel)]='ReporterInput'>
        <option *ngFor="let d of userReporter " [value]='d.id'>{{d.name}}</option>
        </select>
       <!-- <ng-multiselect-dropdown [data]="userReporter" [(ngModel)]='ReporterInput'  [placeholder]="'Select users'"  
      [settings]="dropdownSettings" (onSelect)="onItemSelect($event,2)" (onSelectAll)="onSelectAll($event,2)">
    </ng-multiselect-dropdown> -->
  </div>
  </div>
  <button (click)='filterTickets()'>Search Ticket</button>
  <button (click)='resetFilters()'>Reset</button>
<table>
  <th>
    <tr>
     <td>#</td>
      <td>Service Desk</td>
      <td>Issue Title</td>
      <td>Notify To</td>
      <td>Assignee</td>
      <td>Reporter</td>
      <td>Status</td>
      <td>Priority</td>
      <td>Ticket Date</td>
      <td>Resolve Date</td>
      <td>Resolve Duration(Hr)</td>
      <td>Action</td>
    </tr>
    <tr *ngFor="let ticket of tickets ; let i = index">
        <td>{{ i }}</td>
        <td>{{ ticket.ServiceDeskName  }}</td>
        <td>{{ ticket.IssueTitle }}</td>
        <td><div *ngFor="let user of ticket.NotifyToName">{{user}}</div></td>
        <td>{{ ticket.AssignedName }}</td>
        <td>{{ ticket.CreatedName }}</td>
        <td>{{ ticket.StatusName  }}</td>
        <td>{{ ticket.PriorityName  }}</td>
        <td>{{ ticket.CreatedDate}}</td>
        <td>{{ ticket.ResolvedDate }}</td>
        <td>{{ ticket.ResolvedDuration }}</td>
        <td>
          <div *ngIf="!IsMylisting "><button *ngIf="Ent.RoleId == 2 || Ent.RoleId == 3" type="button" (click)='assignTicket(ticket._id,ticket.ServiceDeskId)'>Assign</button></div>
          <button *ngIf="Ent.RoleId == 4" type="button" (click)='updateTicket(ticket,2)'>Self Assign</button> 
          <button *ngIf="ticket.Assigned == null && ticket.CreatedBy==Ent.UserId && IsMylisting" type="button" (click)='updateTicket(ticket,0)'>Delete</button>
          <button *ngIf="IsMylisting" type="button" (click)='ticketdetails(ticket._id)'>View</button>
          <button *ngIf="!IsMylisting" type="button" routerLink="/ticketdetails/{{ticket._id}}">View</button>
          <button *ngIf="ticket.Status == 5" type="button"  (click)='assignTicket(ticket._id,ticket.ServiceDeskId)'>Reopen</button>
        </td>
    </tr>
   </th>
 </table>
</div>
<div>
  <div>
   <label >Assignee:</label>
    <select [(ngModel)]='newAssigned'>
     <option *ngFor="let d of newAssignusers" [value]='d._id'>{{d.Fname+' '+d.Lname}}</option>
    </select>
    </div>
    <label >Comment:</label>
    <input type="text" [(ngModel)]='newticketComment' ><br>
    <button type="button" (click)='funNewAssigned(1)'>Assign</button>
    <button type="button" (click)='funResetAssigned()'>Reset</button>
</div>
<div>
  <label >Comment:</label>
  <input type="text" [(ngModel)]='newticketComment' ><br>
  <button type="button" (click)='funNewAssigned(2)'>Reopen</button>
  <button type="button" (click)='funResetAssigned()'>Reset</button>
</div>