.main-dashboard-page .form-group .input-select{
    background: none;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    color: #5e6269;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    width: 100%;
    height: 34px;
}
.main-dashboard-page .form-group .input-select:focus{
    outline: none;
}
.main-dashboard-page .datepick-input{
    width: 40%;
    margin-right: 10px;
    border-bottom: 1px solid #e5e5e5 !important;
    border: 0;
    padding: 4px 0;
}
.main-dashboard-page .datepick-input:focus{
    outline: none;
}
.main-dashboard-page .ticket-form{
    display: block;
}
.main-dashboard-page .ml-5{
    margin-right: 5px;
}
.main-dashboard-page .inlineBtn {
    padding-top: 20px;
}