<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-contentInn">
      <div class="portlet solid light-grey main-dashboard-page" id="divMainContainer">
        <div class="row">
          <div class="col-md-12">
            <h3 class="page-title">Ticket creation form</h3>
          </div>
        </div>
        <div class="row" [formGroup]='ticketForm'>

          <div class="col-sm-4">
            <div class="form-group">
              <label>Service Desk</label>
              <select [ngClass]="{ 'is-invalid': submitted && f.ServiceDeskId.errors }" formControlName="ServiceDeskId" name="ServiceDeskId"
                id="" class="form-control">
                <option *ngFor="let desk of serviceDesks " [value]='desk.id'>{{desk.name}}</option>
              </select>
              <div *ngIf="submitted && f.ServiceDeskId.errors" class="invalid-feedback">
                <div *ngIf="f.ServiceDeskId.errors.required">Service Name required</div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>Priority</label>
              <select [ngClass]="{ 'is-invalid': submitted && f.PriorityId.errors }" formControlName="PriorityId" id="" class="form-control">
                <option *ngFor="let priority of prioritys" [value]='priority.id'>{{priority.name}}</option>
              </select>
              <div *ngIf="submitted && f.PriorityId.errors" class="invalid-feedback">
                <div *ngIf="f.PriorityId.errors.required">Priority required</div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>Issue Title</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.IssueTitle.errors }" formControlName="IssueTitle" name="IssueTitle" type="text"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.IssueTitle.errors }">
              <div *ngIf="submitted && f.IssueTitle.errors" class="invalid-feedback">
                <div *ngIf="f.IssueTitle.errors.required">Issue title is required</div>
              </div>
            </div>

          </div>

        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
                <label>Notify To</label>
                <ng-multiselect-dropdown [data]="users" [ngClass]="{ 'is-invalid': submitted && f.NotifyTo.errors }"   [placeholder]="'Select users'"  [formControl]="ticketForm.controls['NotifyTo']" 
                  [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.NotifyTo.errors" class="invalid-feedback">
                  <div *ngIf="f.NotifyTo.errors.required">Required Field</div>
                </div>
              </div>
              </div>

              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Description</label>
                      <input [ngClass]="{ 'is-invalid': submitted && f.Description.errors }" formControlName="Description" name="Description" type="text" class="form-control" >
                      <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                        <div *ngIf="f.Description.errors.required">Description is required</div>
                      </div>
                    </div>
              </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Image</label>
                    <input  type="file"  accept="image/*" (change)="changeListener($event)">
                  </div>
            </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12 text-center">
              <button class="btn btn-primary" type="submit" (click)='generateTicket()'> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>