
  <form [formGroup]= 'ticketForm'>

    {{ticketForm.value | json}}

  <h1>Ticket creation form</h1>

<div class="from-group">
  <label>Service Desk</label>
  <select formControlName="serviceDesk" name="serviceDesk" id="" class="form-control">
  <option selected >Select</option>
  <option *ngFor="let desk of serviceDeskOptions ">{{desk}}</option>
  </select>
</div>

<div >
  
  <label>Priority</label>
  
  <select  formControlName="priority" id="" class="form-control">
  <option selected >Select</option>
  <option *ngFor="let priority of priorityOptions">{{priority}}</option>
  </select>
</div>

  <div class="form-group">
    <label>Issue Title</label>
    <input formControlName="issueTitle" name="issue" type="text" class="form-control" >
  </div>

  <div class="form-group">
    <label>Description</label>
    <input formControlName="description" name="issue" type="text" class="form-control" >
  </div>

  <button class="btn btn-primary" type="submit"> Submit</button>

</form>