.content {
  margin: 50px auto 0%;
  padding: 20px;
  width: 360px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

form {
  padding: 10px;
  display: flex;
  flex-flow: column;
}

.form-group {
  display: flex;
  flex-flow: column;
  margin-bottom: 15px;
}

label {
  font-size: 15px;
  color: #484848 !important;
  font-family: 'Overlock' !important;
}

.form input {
  font-size: 18px;
  color: #484848 !important;
  padding: 5px;
}

.form input[type=date] {
  width: 90%;
}

.user-details .input-select {
  background: none;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  color: #5e6269;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  width: 100%;
}

.user-details .input-select:focus {
  outline: none;
}

.form-group>button {
  width: 20%;
  padding: 10px;
  margin: 0px auto;
}

.form-group>button:hover {
  cursor: pointer;
  background: rgb(1, 159, 170);
}

.user-details .input-ticketing-list {
  background: none;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  color: #5e6269;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  width: 100%;
}

.invalid-feedback {
  color: red;
}