<section class="content"  >
   <div>
        <dl *ngFor="let user of users"  >
                <dd>{{user.Fname +' '+ user.Lname}}</dd>
                <dd>User Id : {{user.UserId}}</dd>
                <dd>Role Name : {{user.RoleName}}</dd>
                <dd>Role Id : {{user.RoleId}}</dd>
                <div class="button-group">
                  <button id="updateButton" routerLink="/update/{{user._id}}"> Update</button>
                  <button id="deleteButton" (click)="deleteUser(user._id)" > Delete</button>
                </div>
            </dl>
   </div>
</section>