body{
    font-family: 'Overlock';
    padding: 0px !important;
    margin: 0px !important;
    font-size:15px;  
}

.page-content-wrapper {
    background: #f2f3f5;
}
.page-contentInn {
    padding: 20px;
}
.portlet.solid {
    padding: 5px 15px 15px 15px;
    background-color: #fff;
    margin-bottom: 15px;
}
.portlet {
    position: relative;
    box-shadow: 1px 1px 10px #e4e4e4;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.page-title {
    color: #22201c;
    font-family: 'Overlock', "Open Sans", sans-serif;
    font-weight: bold !important;
    font-size: 20px;
    margin: 0;
}
.form-group{
    margin: 20px 0 20px 0;
}
.btn-primary {
    background: #484848 !important;
    font-size: 15px !important;
    color: #fff !important;
    border: none !important;
    border-radius: 0 !important;
}
.table tr th{
    text-align: center;
    font-weight: 600;
    background: #2c4750;
    color: #fff;
    vertical-align: middle !important;
  }
