.content {
    margin: 50px auto 0%;
    padding: 20px;
    width: 360px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  
  }
  
  h4 {
    text-align: center;
    color: rgb(3, 142, 197);
  }
  
  form {
    padding: 10px;
    display: flex;
    flex-flow: column;
  }
  
  .form-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 15px;
    color: rgb(0, 197, 211);
  
  }
  
  .form input {
    font-size: 18px;
    color: rgb(6, 115, 122);
    padding: 5px;
  }
  
  .form input[type=date] {
    width: 90%;
  }
  
  .form-group>button {
    width: 20%;
    padding: 10px;
    border: none;
    background: rgb(0, 238, 255);
    color: white;
    margin: 10px auto 0%;
  }
  
  .form-group>button:hover {
    cursor: pointer;
    background: rgb(1, 159, 170);
  
  }
  
  .invalid-feedback {
    color: red;
  }
  